<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Login</title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
    </nav>
    <h1>Registro</h1>

    <div class="form">

        <form action="/auth/register" method="POST">

        <div>
            <select name="role">
                <option value="builder" selected>Fabricante</option>
                <option value="musician">Músico</option>
            </select>
        </div>

        <div>
            <label>
                Email
                <input type="email" name="email" placeholder="Email">
            </label>
        </div>
        
        <div>
            <label>
                Nombre de usuario
                <input type="text" name="username" placeholder="Nombre de usuario">
            </label>
        </div>

        <div>
            <label>
                Contraseña
                <input type="password" name="password" placeholder="password">
            </label>
        </div>


        <input type="submit" value="LOGIN">
    </form>

    </div>
    
</body>
</html>