<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Inicio</title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/pedals">Ir a Colección</a>
        {{!-- <a href="/builders">Ir a Builders</a> --}}
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Registro</a>
    </nav>

    <h1>Inicio</h1>
    <h2>{{ title }}</h2>

    {{#if user}}
        <div>Bienvenido de nuevo, {{user.username}}</div>

        <form action="/auth/logout" method="POST">
            <button type="submit">LOGOUT!</button>
        </form>
    {{/if}}
{{!-- 
    {{#each pedals}}
        <div>{{name}} - {{type}}</div>
    {{/each}} --}}


</body>
</html>