<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title> Fabricantes </title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/"> Ir a Inicio </a>
        {{!-- <a href="/shelters/create-shelter">Crear Casa de acogida</a> --}}
    </nav>

    <h1>Tu página de usuario</h1>

</body>
</html>