body{
    /* text-align: center; */
    padding-top: 50px;
}
a {
    color: red;
    margin-right: 16px;
}

img {
    width: 200px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.products__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 300px;
    max-width: 300px;
    min-height: 100px;
    padding: 24px;
    border: 1px dashed #FABADA;
    margin-bottom: 20px;
}

.products__item img {
    width: 200px;
}

.product__price {
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

.form {
    display: block;
    margin-top: 50px;
}

.form input { 
    display: block;
}
