<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pedal</title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        <a href="/pedals">Regresar a la colección</a>
    </nav>
    <form action="/pedals/create" method="POST" enctype="multipart/form-data">
    {{!-- <form class="form" action="/pedals/create" method="POST" enctype="multipart/form-data"> --}}
        {{!-- const { name, age, color, breed, weight, pedegree, specie } = req.body; --}}
        <div>
            <label>
                Nombre
                <input type="text" name="name" placeholder="Nombre">
            </label>
        </div>
        <div>
            <label>
                Tipo
                <select name="type">
                    <option value="fuzz" selected>Fuzz</option>
                    <option value="overdrive">Overdrive</option>
                    <option value="distortion">Distortion</option>
                    <option value="rev/del">Rev/Del</option>
                </select>
            </label>
        </div>

        <div>
            <label>
                Fabricante
                <input type="text" name="company" placeholder="Fabricante">
            {{!-- <select name="company">
                <option value="user.company" selected>{{user.username}}</option>
            </select> --}}
            </label>
        </div>

        <div>
            <label>
                Disponible
                <select name="available">
                    <option value="true" selected>Sí</option>
                    <option value="false">No</option>
                </select>
            </label>
        </div>

        <div>
            <label>
                Imagen
                <input type="file" name="image">
            </label>
        </div>


        <input type="submit" value="Crear pedal">
    </form>
</body>
</html>