<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{pedal.name}}</title>
    <style>
         a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        <a href="/pedals">Volver a colección</a>
    </nav>
    {{#if pedal}}
        {{!-- <h1>Mascota con ID: {{pet._id}}</h1> --}}

        <h3>Nombre: {{pedal.name}}</h3>
        <h3>Tipo: {{pedal.type}}</h3>
        <h3>Compañía: {{pedal.company}}</h3>
        {{!-- <h3>Puntuación: {{pedal.rating}}</h3> --}}
        <h3>Disponible: {{pedal.available}}</h3>
        <h3>Me gusta: {{pedal.followers}}</h3>

        {{#if pedal.image}}
            <img src="{{pedal.image}}" alt="avatar">
        {{/if}}

        {{!-- {{#if isBuilder}} --}}
            <form method="POST" action="/pedals/{{_id}}">
                <button type="submit">Eliminar</button>
            </form>
        {{!-- {{/if}} --}}

    {{else}}
        <h3>No encontramos el pedal que buscas.
            {{!-- Por favor regrese a la colección y use los filtros de búsqueda. --}}
        </h3>
    {{/if}}



</body>
</html>