<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title> Pedales de efectos </title>
    <style>
        a {
            margin-right: 16px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Ir a Inicio</a>
        {{#if isBuilder}}
            <a href="/pedals/create">Crear Pedal</a>
        {{/if}}
    </nav>

    <h1>Colección de pedales </h1>

    <ul>
        {{#each pedals}}
            {{!-- {{#displayBuilderCollection builder.name pedal.company }} --}}
                <li>
                    <a href="/pedals/{{_id}}">
                        <h3>{{mayus name}}</h3>
                    </a>
                    <h3>Tipo {{type}}</h3>
                    <h3>Compañía: {{company}}</h3>
                    {{!-- <h3>Puntuación: {{rating}}</h3> --}}
                    <h3>Disponible: 
                        {{#if available}}
                        Sí
                        {{else}}
                        Actualmente este modelo está fuera de producción.
                        {{/if}}
                    </h3>
                    
                    {{!-- {{#mayorque pedal.name 5}}
                        <p>Esta mascota es mayor de 5 años!</p>
                    {{/mayorque}} --}}

                    {{#if image}}
                        <img src="{{image}}" alt="avatar">
                    {{/if}}
                    
                    {{#if ../isBuilder}}
                        <form method="POST" action="/pedals/{{_id}}">
                            <button type="submit">Eliminar</button>
                        </form>
                    {{/if}}
                    {{#if ../isMusician}}
                        <form method="PUT" action="/pedals/add-pedal">
                            <button type="submit">Me gusta</button>
                        </form>
                    {{/if}}
                </li>
                <hr />
            {{!-- {{/displayBuilderCollection}} --}}
        {{/each}}
    </ul>
</body>
</html>